.half-width {
    width: 40%;
    float: left;
    padding: 10px;
}

.carusol--bg {
    background-color: #FEEAE9;
    border-radius: 5px;
}

.half-width img {
    max-width: 80%;
    position: right;
}


.Buy-btn {}

.carousel-item {
    padding: 20px 40px;
}

.row h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(235, 77, 30);

}

.row p {
    font-size: 18px;
    font-weight: 400;
}

.container {
    margin-bottom: 2rem;
}

.price h1 {
    color: #ff136f;
}

.Buy-btn {
    font-size: 16px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #ff559b 0%, #ff136f);
    text-decoration: none;
    padding: 9px 25px;
    color: white;
    border-radius: 10px;
}

.cat1 {
    background-color: chocolate;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;
}

.cat2 {
    background-color: #ff136f;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;


}

.cat3 {

    background-color: blue;
    align-items: center;
    border-radius: 10px;
    padding: 8px 15px;

}

#cetagori h1 {
    color: #FEEAE9;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #ff136f;
    padding: 20px 0px;
}

.card-btn {
    text-decoration: none;
    background-color: #ff136f;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.footer-titel {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ff136f;
}

 